body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1.875rem;
    font-size: 0.1rem;
    font-weight: bolder;
    line-height: 0.625rem;
    font-family: Verdana, Georgia ;
    text-align: center;
    background: url(Dmitri_Mendeleev.jpg);  
    background-size: auto;
    overflow: hidden;
    width: 100%;
    overflow-x: hidden;
}
.page{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 775px;
    background-color: #e6Ffff;
    border: solid blue 0.3125rem;
    border-radius: 0.625rem; 
}
div{
    height: 53px;
    width: 39px;
    border-radius: 0.3125rem;
    margin: 2px;
    padding: 0;
    margin-bottom: 1;
    margin-top: 1;
}
span{
    font-weight: bold;
    font-size: 0.75rem;
}
.titre{
    height: 2.5rem;
    width: 9.375rem;
    margin-top: 0.625rem;
    align-self: center;
    margin-bottom: 2.5rem;
}
a{
    font-size: 1.25rem;
    font-weight: lighter;
    font-family: courier New;
    text-decoration: none;
    color:#006600;
    line-height: 1.75rem;
}
.ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    height: 100%;
}
.ligne2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    height: 100%;
}
.ligne3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    height: 100%;
}
.ligne4{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
}
.ligne5{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
}
.ligne6{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
}
.ligne7{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
}
.ligne8{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
    margin-top: 2.8125rem;
}
.ligne9{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    justify-content: center;
}
.couleur1{
    background-color: #9e95c7;
}
.couleur2{
    background-color: #a3dac9;
}
.couleur3{
    background-color: #cdebc8;
}
.couleur4{
    background-color:#f0f9c1 ;
}
.couleur5{
    background-color: #FECEA0 ;
}
.couleur6{
    background-color: #feecb9 ;
}
.couleur7{
    background-color: #84b8d7 ;
}
.couleur8{
    background-color: #f8a78e ;
}
.couleur9{
    background-color: #e68b95 ;
}
.couleur10{
    background-color: #c5678e;
}
.couleur11{
    background-color: #9ed3c3;
}
.couleur12{
    margin-right: 26.8125rem;
    background-color: #cdebc8 ;
}
p:hover{
    color: #1a1aff;
}
a:hover{
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
}
h2{
    font-size: large;
    font-family: courier New;
    font-weight: lighter;
    color: #b30059;
}
.Image{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}
.secour{
    width: 200px;
}
